.testimonial {
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;
    
    blockquote {
        padding-left: 5rem;
        position: relative; // asi queda al costado el elemennto del before
        &::before{
            left: -2rem; // negativo mas a la izq, positivo mas a la der, top left bottom right
            position: absolute;
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
        }
    }

    p{
        text-align: right;
        color: $blanco;
    }
}